In [9]:
library(tidyverse)
library(repr)
library(rvest)
library(stringr)
library(readxl)
library(dplyr)

In [19]:
training_data <- read_excel("group_contract/Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.xls", sheet = "Training_Data", range = "A1:F260")
training_data
data_summary <- select(training_data, STG:PEG) |>
map_df(mean, na.rm = TRUE)
data_summary

    STG  SCG  STR  LPR  PEG  UNS
1   0.00 0.00 0.00 0.00 0.00 very_low
2   0.08 0.08 0.10 0.24 0.90 High
3   0.06 0.06 0.05 0.25 0.33 Low
⋮   ⋮    ⋮    ⋮    ⋮    ⋮    ⋮
257 0.50 0.75 0.81 0.61 0.26 Middle
258 0.66 0.90 0.76 0.87 0.74 High
259   NA   NA   NA   NA   NA NA

  STG       SCG       STR       LPR       PEG
1 0.3711473 0.3556744 0.4680039 0.4327132 0.4585388